<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!--LOCAL>
        <add name="DataLayer.Properties.Settings.CurrencyExchangeConnectionString"
            connectionString="Data Source=.;Initial Catalog=CurrencyExchange;Persist Security Info=True;User ID=sa;Password=G00dt1m3s!"
            providerName="System.Data.SqlClient" /-->
      <!--LOCAL-->
      <add name="DataLayer.Properties.Settings.CurrencyExchangeConnectionString"
            connectionString="Data Source=.;Initial Catalog=CurrencyExchange;Persist Security Info=True;User ID=sa;Password=theBitfarmPeep5!!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>